:root {
    --primary: #a60212;
    --secondary: #e63946;
    --accent: #f5ab29;
    --background: #f5f5f5;
    --white: #ffffff;
    --sidebar-width: 250px;
    --sidebar-collapsed: 70px;
    --header-height: 80px;
    --transition-speed: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
}